*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    user-zoom: none;
    user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
body{
	overflow: hidden;
	background: #E9EBED;
}
body::-webkit-scrollbar{
	width: 0;
}
.pop-up{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: #d96d4cce;
	background-image: linear-gradient(45deg, #d96d4cce 0%, #FAE474ce 100%);
	backdrop-filter: blur(5px);

	padding: 1rem;
	border-radius: 5px;

}
.pop-up h2{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 18pt;
	font-weight: 600;
	margin: 0 0 .5rem;
}
.pop-up p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	font-weight: 200;
	text-align: center;
}
.pop-up .afirmacaoP{font-size: 14pt; margin: 0 0 1rem}
.pop-up button{
	width: 12rem;
	height: 2rem;

	cursor: pointer;

	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 10pt;
	font-weight: 600;

	border-radius: 2.5px;
	border: 2px solid currentColor;

	box-shadow: 1px 1px 4px rgba(0,0,0, .2);
	margin: 0 .25rem 0 .25rem;
}
.pop-up .continuar{
	background: transparent;
	/*color: #504F58;*/
	border: 2px solid #22d022;
}
.pop-up .continuar:hover{
	background: #22d022;
	transition: .5s;
}
.pop-up .voltar{
	background: #d02229;
	color: #504F58;
	border: 2px solid #d02229;
}
.popup-desactive{display: none;}
* button:focus{outline: none;}

div p{
	background: #23232E;
	width: 1px;
	height: 250px;
	margin-right: 1rem;
}


.login-container{
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: #F6F5F6;
	backdrop-filter: blur(5px);

	padding: 1rem;
	border-radius: 5px;
	height: 22rem;

	box-shadow: 4px 4px 10px rgba(0,0,0, .10)
}
.login-container img{max-width: 200px;}
.login-container form{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.login-container form h2{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 20pt;

	margin: 0 0 1rem;
}
.login-container form label{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11pt;
	font-weight: 200;
	color: #929192; 
}
.login-container form input[type=text],
.login-container form input[type=password]{
	width: 15rem;
	height: 2rem;
	font-size: 10pt;
	border: 2px solid #929192;
	padding-left: .2rem;
}
.login-container form input[type=text]{margin-bottom: .5rem;}
.login-container form input[type=password]{margin-bottom: .25rem}
.login-container form span{
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 0 1.5rem;

}
.login-container form span input{cursor: pointer;}
.login-container form span label{margin-left: .35rem; cursor: pointer;}
.login-container form button{
	width: 75%;
	height: 1.5rem;
	cursor: pointer;
	border: 2px solid #B8B7B8;
	background: #B8B7B8;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 0 auto;
}


.erro{
	display: none;
	position: absolute;
	top: .5rem;
	right: 2rem;
	padding: 1rem;

	background: #d02229;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	font-weight: 600;
	color: #f5f5f9;

	animation: fade .25s ease-in both; 
}
@keyframes fade{
	0%{top: .5;}100%{ top: 2.5rem; }
}
.box-view{display: block;}
.formulario_active{display: flex;}